@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../public/fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("../public/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/ProximaNova-Regular.woff") format("woff"),
    url("../public/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../public/fonts/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"),
    url("../public/fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/ProximaNova-Semibold.woff") format("woff"),
    url("../public/fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova Rg", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer components {
  .job-article {
    @apply [&>span]:relative [&>span]:before:content-[""] [&>span]:before:w-[9px] [&>span]:before:h-[9px] [&>span]:before:bg-[#384564] [&>span]:before:absolute [&>span]:before:top-[50%] [&>span]:before:right-[100%] [&>span]:before:translate-y-[-50%] [&>span]:before:translate-x-[-10px] xl:[&>span]:pl-[20px] xl:[&>span]:before:translate-x-[10px];
  }
}
